{
    "presets": [
        [
            "env",
            {
                "modules": "commonjs"
            }
        ]
    ],
    "plugins": [
        "syntax-dynamic-import",
        "transform-vue-jsx",
        "transform-object-rest-spread"
    ]
}
